Package: pagegen
Version: PAGEGEN_VERSION_PAGEGEN 
Section: web
Priority: optional
Architecture: all
Installed-Size: PAGEGEN_DISK_USAGE_PAGEGEN
Maintainer: Oliver Fields <oliver@phnd.net>
Homepage: http://pagegen.phnd.net/
Depends: python
Description: Static web site generator
 .
 Create web sites from flat text files and directories, the idea being that
 every page is a file.
 .
 Pagegen is designed to allow focus on writing content and easily manipulating
 it using the GNU/Linux command line. Pagegen sites are created by making
 folders and adding content, page content is marked up with reStructuredText.
