<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="classless.css">
</head>
<body>
<div id="content">
<article>
<h1>This is pagegen4</h1>
<p>
Page headers and content
Content for each page consists of optional headers, containing any settings for the page, followed by a blank line and Markdown or reStructuredText markup.
</p>
<p>
The rest is content marked up using Markdown or reStructuredText
Headers
All headers are optional. They must start on the first line and content start is signaled by a blank line after the headers. Headers are often referred to as front matter by static site generation engines.

</p>
<p>
Name	Default	Description
authors	None	Comma separated list of authors, each item must match section in authors.conf
description	None	Html meta tag description
exclude html minify	False	Disables HTML minifying of the page if True
generate html	True	Enable/disable parsing of page content
link chain exclude	False	If True page will not be part of next- and previous-links
</p>
<p>
markup	md	Can either be md (default) for Markdown or rst for reStructuredText
menu exclude	False	Remove page (and child pages) from menu/crumb trail
menu title	None	If set use for title in menu/crumb trail
number headings	False	If True add numbering (1, 1.1, 1.2 etc) to h2-h5 tags
preserve file name	False	If True file name will be kept as-is in final url
publish	Date of generation	Format YYYY-MM-DD, only generate pages (and sub pages) if today or past
rss include	False	If set page is included in RSS feed (assuming site include_rss)
search index exclude	False	Exclude page from search index
sitemap exclude	False	Remove page from sitemap
sitemap changefreq	None	Values: always, hourly, daily, weekly, monthly, yearly or never
</p>
<p>
sitemap lastmod	None	Format YYYY-MM-DD
sitemap priority	None	Values between 0.0 and 1.0
tags	None	Comma separated list of tags, if exist then /tag/ pages generated
template	pages.mako	Template file from /templates
title	None	If set overrides page title
toc	False	If True page.toc will be available in templates, listing headings and links
</p>
<p>
Excerpt
Excerpts are the start of the page content. To create an excerpt add to the page content. All content before the more tag will be the excerpt available as page.excerpt. Useful when listing pages to show a short excerpt of each page.
</p>
</article>
<footer>
&copy; 2025
</footer>
</div><!-- /content -->
<div id="menu">
<header>
<img width="200" height="100" src="logo.svg">
</header>
<menu>
<li><a href="some">Link 1</a></li>
<li><a href="where">Link 2</a></li>
</menu>
</div><!-- /menu -->
<div id="menu-toggle">
<svg id="menu-open" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M5 6.5H19V8H5V6.5Z" fill="#1F2328"/>
<path d="M5 16.5H19V18H5V16.5Z" fill="#1F2328"/>
<path d="M5 11.5H19V13H5V11.5Z" fill="#1F2328"/>
</svg>
<svg id="menu-close" style="display: none;" width="2rem" height="2rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M12 10.9394L16.9697 5.96961L18.0304 7.03027L13.0606 12L18.0303 16.9697L16.9697 18.0304L12 13.0607L7.03045 18.0302L5.96979 16.9696L10.9393 12L5.96973 7.03042L7.03039 5.96976L12 10.9394Z" fill="#1F2328"/>
</svg>
</div>
<script>
let menu = document.getElementById('menu');
let menuToggleDiv = document.getElementById('menu-toggle');
let menuOpen = document.getElementById('menu-open');
let menuClose = document.getElementById('menu-close');

menuToggleDiv.addEventListener('click', function (event) {
    // Toggle menu
    if (menu.classList.contains('menu-show')){
      menu.classList.remove('menu-show');
      menuOpen.style.display = 'block';
      menuClose.style.display = 'none';
    }
    else {
      menu.classList.add('menu-show');
      menuClose.style.display = 'block';
      menuOpen.style.display = 'none';
    }
});
</script>
</body>
</html>
