:root {
--bg-dark: #f3f3f3;
--bg-light: #ffffff;
--font: Inter var, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
--fg: #696969;
}

body {
margin: 0;
background-color: var(--bg-light);
}

nav {
background-color: var(--bg-dark);
padding: .2em 1em;
position: fixed;
top: 0;
left: 0;
width: 100%;
}

nav a {
font-family: var(--font);
text-transform: uppercase;
letter-spacing: 1.2px;
vertical-align: middle;
font-size: 16px;
display: inline-block;
font-weight: 400;
padding-right: 14px;
text-decoration: underline;
color: var(--fg);
}

article {
margin: 60px auto 40px auto;
max-width: 994px;
padding: 0 1em;
font-family: var(--font);
}

footer {
background-color: var(--bg-dark);
text-align: center;
position: fixed;
bottom: 0;
left: 0;
width: 100%;
z-index: 9999;
}

footer p {
color: var(--fg);
margin: .2em 1em;
font-family: var(--font);
font-size: 12px;
}

article h1 {
color: #585858;
border-bottom: 2px solid whitesmoke;
font-size: 32px;
font-weight: 400;
padding: 18px 0 4px 0;
margin-bottom: 1em;
text-align: center;
}

article p {
line-height: 1.6em;
margin: 1em 0 2em 0;
text-align: center;
font-size: 1.1em;
}

.share-button {
background-color: var(--bg-dark);
border: solid 1px black;
text-decoration: none;
margin-right: 1em;
border-radius: 50%;
padding: .6em .5em .3em .5em;
}

.share-button img {
height: 1em;
}

.sharing {
clear: both;
margin: 2.4em 0 3em 0;
text-align: center;
}

.hero-image {
margin: 0 0 3em 0;
background-color: var(--bg-dark);
}

.hero-image source {
width: 100%;
}

.hero-image img {
width: 100%;
}

.hero-image figcaption {
margin: 0 0 3em 0;
padding: 0.6em 1em;
text-align: center;
background-color: var(--bg-dark);
}

.hero-image-bg {
background-repeat: no-repeat;
background-position: center;
background-size: cover;
width: 100%;
height: 300px;
}

.hero-caption {
padding: 1em 2em;
text-align: center;
}

pre.dikt {
text-align: center;
margin: 3em 0 2em 0;
font-size: 1.4em;
line-height: 1.8em;
}
