html{
background-color:#FCFDFF;
-webkit-text-size-adjust:100%
}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
margin:0;
padding:0;
border:0;
outline:0;
font-size:16px;
vertical-align:baseline;
color: #3E4349;
font-family: Helvetica,sans-serif;
line-height:1em;
}
#page {
margin: 0 auto;
width: 940px;
}
#sidebar {
position: fixed;
z-index: 666;
float: left;
width: 220px;
padding: 18px 10px;
overflow-y: auto;
max-height: 90%;
}
#content {
margin-left: 270px;
padding-top: .2em;
}
#hamburger {
display: none;
position: fixed;
right: .2em;
top: .2em;
z-index: 999;
}
.clearfix::after {
content: "";
clear: both;
display: table;
}
#footer {
text-align: right;
margin: 2em auto;
font-size: 13px;
line-height: 13px;
}
#footer a {
border: none;
}
#footer img {
position: relative;
top: 1px;
}
@media screen and (max-width: 940px) {
  i.sub-menu-toggle {
  color: #ddd;
  }
  article {
    padding: 1em;
  }
  #sidebar {
  width: 100%;
  display: none;
  background-color: #333;
  color: #fff;
  height: 100%
  }
  #hamburger {
  color: #000000;
  display: block;
  }
  #blurb, #blurb span {
    color: #ddd !important;
  }
  #page {
  width: 100%;
  }
  #content {
    margin-left: 0;
  }
  #sidebar ol {
    width: 220px;
    margin: 0 auto !important;
  }
  #sidebar ol a {
    color: #ddd !important;
    border-bottom: 1px dotted #ddd !imporant;
  }
  #sidebar ol a:hover {
    color: #fff !important;
    border-bottom: 1px dotted #fff !important;
  }
}
#page_logo img {
display: block;
margin: 10px auto;
}
#sidebar ol {
list-style: none;
padding-left: 10px;
margin: 0;
}
#sidebar li {
line-height: 1.6em;
margin-left: 10px;
margin-bottom: 5px;
}
#blurb {
text-align: center;
margin: .6em 0 1em 0;
border-top: 1px dotted #999;
border-bottom: 1px dotted #999;
padding: 1em 0;
font-size: 1.1em;
}
#blurb span {
font-size: .8em;
color: #3E4349;
font-style: italic;
}
#sidebar ol a {
border-bottom: 1px dotted #444;
text-decoration: none;
color: #444;
}
#sidebar ol a:hover {
color: #000;
border-bottom-color: #000;
}
p {
line-height: 1.4em;
margin: .6em 0;
}
hr {
border: none;
border-top: 1px dotted #444;
margin: 1em 0;
}
a {
border-bottom: 1px dotted #444;
text-decoration: none;
color: #444;
}
a:hover {
color: #000;
border-bottom-color: #000;
}
.admonition {
margin: .6em 0;
padding: .6em 2em;
background-color: #EEE;
border: 1px solid #CCC;
}
.admonition p {
margin: 0 0 .2em 0;
}
.admonition-title {
font-size: 1.6em;
}
h1, h2, h3, h4 {
font-family: Tahoma, sans-serif;
font-weight: normal;
margin: 1.2em 0 .6em 0;
}
h1 {
font-size: 2.6em;
}
h2 {
font-size: 2em;
}
h3 {
font-size: 1.8em;
}
h4 {
font-size: 1.4em;
}
h1:first-of-type {
margin-top: 0;
}
pre {
line-height: 1.4em;
margin: .6em 1em;
padding: .6em 1em;
background-color: #EEE;
font-family: 'Courier New', monospace;
border-radius: 3px;
}
blockquote {
line-height: 1.4em;
margin: .6em 1em;
padding: .6em 1em;
background-color: #EEE;
}

ul, ol {
margin: .6em 0;
padding-left: 2em;
}
li {
line-height: 1.8em;
}
dl {
margin: .6em 0;
padding-left: 2em;
}
dt {
font-weight: bold;
}
dd {
margin: .6em 2em 1em 2em;
}
table {
margin: .6em 1.6em;
border-collapse: collapse;
}
th {
border-bottom: 1px dotted #999;
}
td, th {
padding: .4em;
}
a.image-reference {
border: none;
}
i.sub-menu-toggle {
margin-left: .6em;
cursor: pointer;
}
#pagegen-current-page {
font-weight: bold;
}
#search-query {
max-width: 146px;
border: solid 1px #999;
}
#search-submit {
max-width: 57px;
margin-left: -5px;
border: solid 1px #999;
}
#search-form {
margin: 1em auto;
width: 220px;
}
.search-hit {
line-height: 2.5em;
}
#toc {
list-style: none;
background-color: #eee;
padding: 1em;
}
.toc-h2 {
margin-left: 1em;
}
.toc-h3 {
margin-left: 2em;
}
.toc-h4 {
margin-left: 3em;
}
.toc-h5 {
margin-left: 4em;
}
.toc-h6 {
margin-left: 5em;
}
.author-full img {
display: block;
float: left;
margin-right: 1em;
}
.author-full li {
display: inline-block;
margin-right: 2em;
font-size: .8em;
}
tt, tt span.pre, code {
background-color: #eee;
padding: .2em;
font-family: monospace;
font-size: .9em;
color: #3E4349;
border-radius: 1px;
}
.admonition tt, .admonition span.pre, .admonition code {
background-color: #ddd;
border-radius: 1px;
}
